<footer id="footer" class=" bg-indigo-950 text-white py-4 fixed bottom-0 left-0 w-full z-50">
  <div class="px-10 w-full">
    <div class="flex flex-wrap">
      <!-- 左側のテキスト -->
      <div class="w-full sm:w-1/2">
        <p class="text-sm text-left">
          Copyright © 2024. nabe_60a
        </p>
      </div>
    </div>
  </div>
</footer>